[Unit]
Description=Timer rotation of log files
Documentation=man:logrotate(8) man:logrotate.conf(5)

[Timer]
OnCalendar={{ logrotate_use_hourly_rotation | ternary('hourly', 'daily') }}
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
